<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.app.examus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/examusicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/examusicon_round"
        android:theme="@style/Theme.OSexamen">
        <activity
            android:name="my.app.examus.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OSexamen.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="my.app.examus.settings"
            android:screenOrientation="portrait" />
        <activity
            android:name="my.app.examus.ShowQuest"
            android:screenOrientation="portrait" />
        <activity
            android:name="my.app.examus.Spisok"
            android:screenOrientation="portrait" />
        <activity
            android:name="my.app.examus.Test"
            android:screenOrientation="portrait" />
        <activity
            android:name="my.app.examus.MainActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>